[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.lmaxyz.egui_aurora_app
Exec=/usr/bin/com.lmaxyz.egui_aurora_app
Name=Egui demo app
Name[ru]=Демо приложение egui

[X-Application]
OrganizationName=com.lmaxyz
ApplicationName=egui_aurora_app
Permissions=Audio;Bluetooth;Call;Camera;DeviceInfo;Internet;Location;ManagedConfiguration;MediaIndexing;Microphone;NFC;RemovableMedia;SecureStorage;ScreenCapture;Sensors;UserDirs;
ExecDBus=/usr/bin/com.lmaxyz.egui_aurora_app
